@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}


/* Lớp phủ mờ phía sau menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Màu mờ đen */
  z-index: 5;
  display: none;
}

#mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  background-color: #ff7f50;
  z-index: 10;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  transform: translateX(100%);
}

#mobile-menu.show {
  display: block;
  transform: translateX(0);
}

#overlay.show {
  display: block;
}




.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #fff; 
 
  
  cursor: pointer;
}
#mobile-menu .menu-content nav ul li a {
  display: block;
  padding: 12px 20px;
  color: #fff; /* Màu chữ trắng */
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Đường viền mờ cho các mục */
}
#mobile-menu .menu-content nav ul li a:hover {
  background-color: #ff4500; 
  color: #fff; 
}
#mobile-menu .menu-content nav ul li {
  margin-top: 20px;  /* Đẩy các mục xuống dưới */
}


#menu-toggle.close svg {
  transform: rotate(90deg);
}

#sliderWrapper {
  width: 100%;
  overflow-x: hidden;
}

#slider {
  display: flex;
  transition: transform 0.3s ease;
}

.slide {
  min-width: 280px;

}
.container {
  margin: 0 auto;
  padding-left: 15px; 
  padding-right: 15px; 
}
@media screen and (max-width: 640px) {
  .swiper-button-next, .swiper-button-prev {
    display: block; /* Hiển thị nút điều hướng */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  .swiper-button-next {
    right: 10px;
  }
  .swiper-button-prev {
    left: 10px;
  }

  /* Đảm bảo rằng ảnh hiển thị căn giữa trên màn hình nhỏ */
  .swiper-slide {
    display: flex;
    justify-content: center; /* Căn giữa ảnh */
  }
}


.clip-footer {
  overflow: hidden; /* Ẩn phần bị cong */
}

@media (min-width: 768px) { /* Chỉ áp dụng khi màn hình to */
  .clip-footer {
    clip-path: ellipse(100% 80% at 50% 100%);
  }
}
.text-gradient {
  background: linear-gradient(90deg, #26BA5F 0%, #26BA5F 0.01%, #08B2FB 100%);
  -webkit-background-clip: text;
  color: transparent;
}
